$default-background: #f7f8fa;

.app {
  background-color: $default-background;
}

h2 {
  margin: 0;
  padding: 32px 16px 16px;
  color: var(--van-gray-6);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
